---
const { data } = Astro.props;
console.log(data);
---

<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <article>
        <h1>{data.wine}</h1>
        <img src="/svg/winecard.svg" alt="" />

        <div class="card_text">
          <h2>Type: {data.type}</h2>
          <p>Grape:{data.grape}</p>

          <p>Location: {data.location}</p>
        </div>
        <h3>{data.price_wine} DKK</h3>
      </article>
    </div>
    <div class="flip-card-back" style=`background-image: url(${data.wine_imgs})`>
      <div class="flip-card-image"></div>
    </div>
  </div>
</div>

<style>
  article {
    background-color: #fffaf3;
    border-radius: 40px;
    border: 5px solid #9db999;
    height: 520px;
  }

  .flip-card {
    border: 1px solid #f1f1f1;
    perspective: 1000px;
  }

  .flip-card-back {
    transform: rotateY(180deg);
    translate: 0 -100%;
    background-size: cover;
    border-radius: 40px;
  }

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transform-style: preserve-3d;
  }

  .flip-card-image img {
    height: 100%;
  }

  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    transition: transform 2s;
  }

  .flip-card-front,
  .flip-card-back {
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .flip-card-front {
    border-radius: 40px;
  }

  .flip-card-back img {
    width: 100%;
    height: 100%;
  }

  @media (min-width: 800px) {
    .article {
      background-color: #fffaf3;
      border-radius: 40px;
      border: 5px solid #9db999;
    }

    .flip-card {
      border: 1px solid #f1f1f1;
      perspective: 1000px;
    }

    .flip-card-inner {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      transition: transform 1s;
      transform-style: preserve-3d;
    }

    .flip-card:hover .flip-card-inner {
      transform: rotateY(180deg);
    }

    .flip-card-front,
    .flip-card-back {
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }

    .flip-card-front {
      width: 100%;
      height: 100%;
    }
  }
</style>
